@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

body {
  background-color: #F4F4F4;
  font-family: 'Montserrat', sans-serif;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}


.cars-index {
  flex: 0 0 70%;
  background-color: #DBDBDB;
  padding: 20px;
  li {
    list-style: none;
  }
}

.sidebar {
  flex: 0 0 30%;
  background-color: white;
  padding: 20px;
}


.car {
  height: 120px;
  padding: 10px;
  img {
    float: left;
  }
}

#add-car {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid grey;
  margin-top: 10px;
}
